body {
    background: rgb(68, 128, 207);
    color: #333;
    font-family: Lato, sans-serif;
  }
  .container {
    display: block;
    width: 600px;
    margin: 200px auto 0;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li * {
    float: left;
  }
  li, h3 {
    clear:both;
    list-style:none;
  }
  input, button {
    outline: none;
  }
  button {
    background: none;
    border: 0px;
    color: rgb(0, 0, 0);
    font-size: 40px;
    width: 120px;
    margin: 20px 0 0;
    font-family: Lato, sans-serif;
    cursor: pointer;
  }
  button:hover {
    color: rgb(245, 0, 0);
  }
  /* Heading */
  h3,
  label[for='new-task'] {
    color: #333;
    font-weight: 1400;
    font-size: 30px;
    border-bottom: 2px solid #333;
    padding: 60px 0 20px;
    margin: 0;
    text-transform: uppercase;
  }
  input[type="text"] {
    margin: 0;
    font-size: 60px;
    line-height: 60px;
    height: 70px;
    padding: 20px;
    border: 1px solid #ddd;
    background: rgb(122, 175, 236);
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
  }
  input[type="text"]:focus {
    color: #333;
  }
  
  /* New Task */
  label[for='new-task'] {
    display: block;
    margin: 0 0 20px;
  }
  input#new-task {
    float: left;
    width: 318px;
  }
  p > button:hover {
    color: rgb(255, 2, 2);
  }
  
  /* Task list */
  li {
    overflow: hidden;
    padding: 40px 0;
    border-bottom: 1px solid #eee;
  }
  li > input[type="checkbox"] {
    margin: 0 10px;
    position: relative;
    top: 15px;
  }
  li > label {
    font-size: 60px;
    line-height: 40px;
    width: 437px;
    padding: 0 0 0 11px;
  }
  li >  input[type="text"] {
    width: 226px;
  }
  li > .delete:hover {
    color: #CF2323;
  }
  
  /* Completed */
  #completed-tasks label {
    text-decoration: line-through;
    color: #112233;
  }
  
  /* Edit Task */
  ul li input[type=text] {
    display:none;
  }
  
  ul li.editMode input[type=text] {
    display:block;
  }
  
  ul li.editMode label {
    display:none;
  }